{{!< doru/log}}
{{> nav-resurse}}
{{> messages}}

    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    
    <div id="container">
        <h1>{{entry.title}}</h1>
        <div id="editorcrate" class="container p-2">
            <form>
                <div class="justify-content-center mt-4">
                    <div id="codex"></div>
                </div>
            </form>
        </div>
        <div>

        </div>
    </div>

    {{#each scripts}}
        <script defer type="application/javascript" src="{{script}}"></script>
    {{/each}}